<div id="on-boarding-supplier" class="on-boarding-container">
  <h1 class="text-center mt-3">1/2 - Sélectionner vos fournisseurs</h1>
  <p class="text-center">A vous de jouer! Sélectionnez les fournisseurs que vous souhaitez ajouter à votre espace et créez vos propres recherches si besoin.</p>
  <div class="card-container">
    <% @supplier_searches.each do |search| %>
      <%= render 'supplier_searches/card', search: search %>
    <% end %>
  </div>
  <div id="on-boarding-nav" class="d-flex justify-content-center">
    <%= link_to "Étape suivante >>", new_receiver_path, class:'stitch-btn-outline-green btn-large' %>
  </div>
</div>
