<div class="supplier-card-logo">
  <%= image_tag "logos/#{receiver.downcase}.png", class: 'supplier-card-image' %>
    <div class="supplier-card-subscription text-center">
      <% if receiver.downcase == 'accountant' %>
          Mon comptable
      <% else %>
          <%= receiver %>
      <% end %>
  </div>
  
  <div class="supplier-card-footer text-center">
    <i class="far fa-square color-gray"></i>
    <i class="far fa-check-square color-green"></i>
  </div>
</div>
