<div class='receiver-label <%= 'accountant-label' if receiver == 'accountant' %>'>
  <%= image_tag "logos/#{receiver.downcase}.png", class: "receiver-logo" %>
  <div>
    <% if receiver == 'accountant' %>
      Mon comptable
    <% else %>
      <%= receiver %>
    <% end %>
  </div>
</div>
