<div class="with-dashboard-container mb-5 mt-5 shadow p-3 bg-white">
  <h1 class="text-center mt-3">Ajouter un partenaire</h1>
  <div class="form w-75 mx-auto">
    <%= simple_form_for @receiver do |f| %>
      <div class= "d-flex justify-content-around mt-5">
        <div class="flex-grow-1">
          <%= f.input :email, :label => 'Receiver Email' %>
        </div>
        <div class="category ml-5">
          <%= f.input :name, :label => 'Name' %>
        </div>
      </div>
        <%= f.button :submit, :label => 'Add', class: "btn btn-primary mt-3 mb-3" %>
      <% end %>
