<div id="on-boarding-receiver" class="on-boarding-container">

  <h1 class="text-center mt-3">2/2 - Ajouter vos partenaires</h1>
  <p class="text-center">Facilitez la réconciliation et l'enregistrement comptable, renseigner les partenaires avec lesquels vous souhaitez partager vos reçus.</p>
  <div class="form w-75 mx-auto">

    <%= simple_form_for @receiver, html: { class: 'text-center' } do |f| %>
      <!-- <h3>Ajouter un partenaire bancaire</h3> -->
      <%# receivers = Receiver::PAYMENT.push('accountant') %>
      <%= f.input :name, as: :radio_buttons,
          label: '',
          collection: Receiver::PAYMENT,
          input_html: { class: 'd-none' },
          label_method: lambda { |payment| render "receivers/form_label", receiver: payment },
          wrapper: :vertical_collection_inline %>
      <div id='additionnal-fields' class="d-none">
        <%= f.input :email,
          label: 'Ajouter votre email',
          placeholder: "eg. votre-email@spendesk.com" %>
      </div>

      <%= f.submit 'Ajouter', class: "btn btn-primary mt-3 mb-3" %>
    <% end %>
<!--
    <br><br>

    <%#= simple_form_for @receiver, html: { class: 'text-center' } do |f| %>
      <h3>Ajouter votre comptable</h3>
      <%#= f.input :name, :label => 'Votre comptable' %>
      <%#= f.input :email, :label => 'Email', placeholder: "eg. votre-email@spendesk.com" %>
      <%#= f.submit 'Ajouter', class: "btn btn-primary mt-3 mb-3" %>
    <%# end %> -->


  </div>

  <!-- <div class="on-boarding-navs d-flex justify-content-end">
    <%#= link_to "Aller sur votre dashboard", dashboard_path, class: 'btn btn-success' %>
  </div> -->
</div>

