// Specific CSS for your home-page
h1{
  font-size: 2.5em;
}


.jumbotron {
  display: inline-flex;
  width: 100%;

  .display-3{
    font-size: 2.5em;
  }
}

#home-image{
  width: 300px;
}

#email{
  background-image: url('mobile-emails2.png');
  background-size: cover;
  width: 40%;
  margin-left: 1em;
  border-radius: 1em;
}

