// Specific CSS for your home-page
h1{
  font-size: 36px
}

h2{

}

.jumbotron {
  display: inline-flex;
  width: 100%;
  height: 40em;

  .display-3{
    font-size: 36px
  }
}

.bckimage{
  background-image: url(home_freelance.png);
  background-size: cover;
}
