#home-banner {
  background-color: #e9ecef;
  height: 680px;
  // height: calc(100vh - 66px);
  .container {
    height: 100%;
  }
  .text-content {
    h1 {
      font-size: 3em;
      opacity: 0.8;
    }
    .sub-title {
      font-size: 22px;
      font-weight: 100;
    }
    flex: 1 1 50%;
    margin-right: 30px;
  }
  #email {
    flex: 0 0 400px;
    height: 400px;
    background-image: url('mobile-emails2.png');
    background-size: cover;
    margin-left: 1em;
    border-radius: 1em 1em 0 0;
    box-shadow: 0px -10px 23px 5px rgba(0,0,0,0.1);
  }
}

h1 {
  font-size: 40px;
  opacity: 0.8;
}

h3{
  font-family: roboto;
  text-align: center;
  font-size: larger;
  font-weight: 700;
  opacity: 0.5;
}

.sub-text {
  font-weight: lighter;
  font-size: 22px;
}

.note {
  font-size: 14px;
  font-style: italic;
}

#home-sub-section {
  // height: 70vh;
  .container {
  height: 100%;
  }
  .box{
    flex-direction: column;
    justify-content: space-around;
    background-color: white;
    height: 350px;
    border-radius: 10px;
    padding: 15px;
    display: inline-block;
    display: flex;
    width: 350px;
    box-shadow: 0 1px 5px #DCE3E6;
  }
  .separator{
    width: 50px;
  }
  .feature{
    display: inline-flex;
    align-content: flex-start;
    .img{
      object-fit: contain;
      // height: 50px;
      border-radius: 5px;
      width: 40px;
    }
    .text{
      text-align: left;
      font-weight: normal;
      font-size: 14px;
      padding: 13px;
    }
  }
  .sub-text{
    font-size: 22px;
    font-weight: lighter;
    text-align: center;
    text-style: italic;
    margin-block-end: 1.5rem;
    margin-block-start: 0.5rem
  }

  .checkmark{
    align-self: center;
    color: #F9A826;
    font-size: 22px
  }

  .check-text{
    margin: 1rem;
    font-size: large;
  }


  .suppliers {
    opacity: 0.8;
    border-top: #aaa dotted 2px;
    padding: 30px 0px;
  }
  .suppliers-text{
    width: 150px;
    text-align: center;
    color: gray;
    font-weight: normal;
  }
}

.setup-steps{
  .container{
    // align-items: center;
    // justify-content: center;
    display: flex;
    flex-direction: column;
    height: 100%
  }

  .circle{
    background-color: #F9A826;
    text-align: center;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    font-size: 30px;
    font-weight: 900;
    color: white;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  .text{
    max-width: 200px;
    text-align: center;
    margin-top: 15px;
    font-weight: 700;
    font-size: 16px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 15px;

  }
  .img{
    max-width: 200px;
    filter: grayscale(1);
    opacity: 0.8;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    box-shadow: 0px -5px 20px 5px rgba(0,0,0,0.1);
  }
}

#next{
  color: #80808082;
  font-size: 36px;
  margin-top: 85px;
  }



#home-image{
  width: 300px;
}


.google-logo {
  object-fit: contain;
  height: 40px;
}
