.card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;

  > a {
    opacity: 0.8;
    &:hover {
      opacity: 1;
      text-decoration: none;
      i {
        animation: quarter-rotate 0.15s linear;
      }
    }
  }
}

@keyframes quarter-rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(90deg);
  }
}
