.card-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 5px;
  > a {
    opacity: 0.8;
    &:hover {
      opacity: 1;
      text-decoration: none;
      i {
        animation: quarter-rotate 0.15s linear;
      }
    }
  }
}

.mr-100px{
  padding-right:150px;
}

@keyframes quarter-rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(90deg);
  }
}
