<div class="container mr-100px">
  <h1>Votre tableau de bord </h1>
  <p>Voici les derniers reçus trouvés pour vos fournisseurs sélectionnés.</p>
  <div class="card-container">
    <% @supplier_searches.each do |search| %>
      <%= render 'supplier_searches/card', search: search %>
    <% end %>
    <%= link_to new_supplier_search_path do %>
      <div class="supplier-card add-supplier d-flex align-items-center justify-content-center">
        <i class="fas fa-plus"></i>
        <%#= image_tag "logos/plus.png", class: "supplier-logo align-self-center"%>
      </div>
    <% end %>
  </div>
</div>


