<div class="container">
  <h2> <%#= add Supplier name to model + image %> Supplier receipts </h2>
  <table class="table table-hover table-responsive text-left">
    <thead>
      <tr>
        <th>Action</th>
        <th>Subject</th>
        <th>Date&time</th>
      </tr>
    </thead>
    <tbody>
    <% @messages.each do |message| %>
      <tr>
      <% headers = GmailApi::GetUserMessageHeaders.new(current_user, message.id, @metadatas).call %>
        <th scope="row">
          <div class="d-flex justify-content-around">
            <i id= "receipt-select" class="far fa-square"></i>
            <i id= "receipt-dismiss" class="far fa-minus-square"></i>
          </div>
        </th>
        <td><strong><%= subject = headers[1].value %></strong><br>
        <%= snippet = GmailApi::GetUserMessage.new(current_user, message.id).call.snippet %> <br>
        <span class="badge badge-secondary"> attachment 1</span></td>
        <td><%= date = headers[0].value %></td>
      </tr>
    <% end %>
    </tbody>
  </table>

  <%= @messages %>

</div>

<!-- id = receipt-select // checkbox (should highlight row + change icon ticket) -->
<!-- id = receipt-dismiss // when clicked should change receipt status to dismissed -->
