<form action="patch" id="new-mail" class="d-none">
  <p>Adresse mail actuelle: <% @receivers. %></p>
  <div class="d-flex">
    <label for="">Nouvelle adresse mail:</label>
    <input type="text" name="new-email">
    <button><%= link_to "Confirmer" %></button>
  </div>
</form>

