<form action="patch" id="new-mail" class="d-none">
  <label for="">Entrez la nouvelle adresse mail de votre partenaire</label>
  <input type="text">
  <button><%= link_to "Confirmer" %></button>
</form>

