<div class="side-bar">
  <div class="side-bar-body" style="position: relative;">
    <ul>
      <li class="side-bar-item">
        <%= link_to "/profil" do %>
          <i class="fas fa-address-card"></i>
          <span class="side-bar-title">Mon Profil</span>
        <% end %>
      </li>

      <li class="side-bar-item">
        <%= link_to user_receivers_path(current_user) do %>
          <i class="fas fa-user-tie"></i>
          <span class="side-bar-title">Mon Comptable</span>
        <% end %>
      </li>

      <li class="side-bar-item">
        <%= link_to user_supplier_searches_path(current_user) do %>
          <i class="fas fa-truck"></i>
          <span class="side-bar-title">Mes Fournisseurs</span>
        <% end %>
      </li>

      <li class="side-bar-item">
        <a href="/">
          <i class="fas fa-history"></i>
          <span class="side-bar-title">Historique</span>
        </a>
      </li>
    </ul>
  </div>
</div>
