
<section class="jumbotron">
  <div class ="ml-5">
    <div class="container">
      <h1 class="display-3">Trouvez et partagez vos e-reçus<br> sans-effort</h1>
      <p class="lead"><strong>Stitchr</strong> est une solution d'automatisation gratuite<br>
                  qui trie les messages de vos fournisseurs préférés<br>
                  et vous permet de les partagez comme vous le souhaitez.
                </p>
        <hr class="my-2">
        <p>Connection en 3 clics avec votre compte Gmail!</p>
        <%= link_to omniauth_authorize_path(:user, :google_oauth2), class: "btn btn-primary btn-lg" do %>
            <p class="lead mb-0">Se connecter avec Google
            <%= image_tag "Google.png", class: "supplier-logo" %></p>
        <% end %>
    </div>
  </div>
  <div id="email"></div>
</section>

<section class="container">
<div>
  <div class="d-flex">
    <div class = "flex-fill">
      <h4>Freelance ou en Startup?</h4>
      <p>Concentrez vous sur votre job, déchargez vous de vos taches administratives</p>
      <p>N'oubliez plus de dépenses et faîtes-vous rembourser plus vite</p>
      <p>Transférez automatiquement à vos solutions de paiement, de note de frais ou directement à votre comptable</p>
    </div>
    <div class = "flex-fill">
      <h4>Connection direct avec Gmail</h4>
      <p>partager reçus et factures</p>
      <p>créez vos propres recherches</p>
    </div>
  </div>
</div>
  <h2>Comment ça marche?</h2>
  <ol>
    <li>Autorisez l'accès à vos email dès l'inscription</li>
    <li>Sélectionnez vos recherches et visualisez les reçus trouvés</li>
    <li>Créez vos règles de partage</li>
  </ol>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#!" role="button">Sign-up with Google</a>
  </p>
</div>
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">Besoin d'information?</h1>
    <p class="lead">
      <ul>
        <li>Service client et FAQ vous guideront</li>
        <li>Nous prenons soin de vos données, nos accès et enregistrements sont restreints au strict minimum</li>
        <li>Vous restez en contrôle et pouvez supprimer votre connection et vos données à tout moment</li>
      </ul>
    </p>
  </div>
</div>
<br>
<h2>Encore des points à éclaircir avant de vous inscrire sur Stitch-R? Posez nous vos questions@get-stichr.com</h2>
</section>


