
<section class="jumbotron bckimage">
  <div class ="ml-5">
    <div class="container">
      <h1 class="display-3">Trouvez et partagez vos e-reçus<br> sans-effort</h1>
      <hr class="my-2">
      <p>Connection en 3 clics avec votre compte Gmail!</p>
      <p class="lead">
        <%= link_to "Connectez-vous avec Google", new_user_session_path, class: "btn btn-primary btn-lg"%>
      </p>
    </div>
  </div>
</section>

<section class="container text-secondary">
<div>
  <div class="d-flex">
    <div class = "flex-fill">
      <h4><strong>Stitchr</strong> est une solution d'automatisation gratuite</h4>
      <p>connection directe Gmail</p>
      <p>analyse les messages de vos fournisseurs préférés</p>
      <p>vous permet de les partagez comme vous le souhaitez.</p>
    </div>
    <div class = "flex-fill">
      <h4>S'adapte à vos besoins</h4>
      <p>partager reçus et factures</p>
      <p>créez vos propres recherches</p>
    </div>
  </div>
</div>
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">Freelance ou en Startup?</h1>
    <p class="lead">
      <ul>
        <li>Concentrez vous sur votre job, déchargez vous de vos taches administratives</li>
        <li>N'oubliez plus de dépenses et faîtes-vous rembourser plus vite</li>
        <li>Plus de 100 modèles d'emails fournisseurs pris en charge et créez les votres si besoin</li>
        <li>Transférez automatiquement à vos solutions de paiement, note de frais ou directement à votre comptable</li>
      </ul>
    </p>
  </div>
</div>
<div>
  <h2>Comment ça marche?</h2>
  <ol>
    <li>Autorisez l'accès à vos email dès l'inscription</li>
    <li>Sélectionnez vos recherches et visualisez les reçus trouvés</li>
    <li>Créez vos règles de partage</li>
  </ol>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#!" role="button">Sign-up with Google</a>
  </p>
</div>
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">Besoin d'information?</h1>
    <p class="lead">
      <ul>
        <li>Service client et FAQ vous guideront</li>
        <li>Nous prenons soin de vos données, nos accès et enregistrements sont restreints au strict minimum</li>
        <li>Vous restez en contrôle et pouvez supprimer votre connection et vos données à tout moment</li>
      </ul>
    </p>
  </div>
</div>
<br>
<h2>Encore des points à éclaircir avant de vous inscrire sur Stitch-R? Posez nous vos questions@get-stichr.com</h2>
</section>


