<div id="home-banner" class="wrapper-gray">
  <div class="container d-flex align-items-center">
    <div class="text-content">
      <h1 class="display-3">
        Trouvez et partagez vos reçus électroniques sans-effort
      </h1>
      <p class="lead mt-4">
        <strong>Stitchr</strong> est une solution d'automatisation gratuite qui trie les messages de vos fournisseurs préférés et vous permet de les partagez avec votre comptable ou une solution de gestion des frais.
      </p>
      <%= link_to omniauth_authorize_path(:user, :google_oauth2), class: "btn btn-primary btn-lg mt-4" do %>
        <div class="d-flex align-items-center">
          <%= image_tag "Google.png", class: "supplier-logo mr-1" %>
          <p class="lead mt-2">se connecter avec Google</p>
        </div>
      <% end %>
      <p class="mt-4">Testez en 3 clics avec Gmail.</p>
    </div>
    <div id="email"></div>
  </div>
</div>

<section class="container">
  <div>
    <div class="d-flex">
      <div class = "flex-fill">
        <h4>Freelance ou en Startup?</h4>
        <p>Concentrez vous sur votre job, déchargez vous de vos taches administratives</p>
        <p>N'oubliez plus de dépenses et faites-vous rembourser plus vite</p>
        <p>Transférez automatiquement à vos solutions de paiement, de note de frais ou directement à votre comptable</p>
      </div>
      <div class = "flex-fill">
        <h4>Connexion directe avec Gmail</h4>
        <p>partager reçus et factures</p>
        <p>créez vos propres recherches</p>
      </div>
    </div>
  </div>
    <h2>Comment ça marche?</h2>
    <ol>
      <li>Autorisez l'accès à vos email dès l'inscription</li>
      <li>Sélectionnez vos recherches et visualisez les reçus trouvés</li>
      <li>Créez vos règles de partage</li>
    </ol>
  </div>
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-3">Besoin d'information?</h1>
      <p class="lead">
        <ul>
          <li>Service client et FAQ vous guideront</li>
          <li>Nous prenons soin de vos données, nos accès et enregistrements sont restreints au strict minimum</li>
          <li>Vous restez en contrôle et pouvez supprimer votre connexion et vos données à tout moment</li>
        </ul>
      </p>
    </div>
  </div>
  <br>
  <div class="container">
    <h2>Encore des points à éclaircir avant de vous inscrire sur Stitch-R? Posez nous vos questions@get-stichr.com</h2>
  </div>
</section>


