<div class="on-boarding-container text-center d-flex align-items-center justify-content-center">
  <div>
    <h1>Bienvenue sur Stitch-R</h1>
    <div class="sync-icon-container">
      <i class="fas fa-sync"></i>
    </div>
    <p>Nous scannons votre boite mail afin d'y trouver des reçus et factures</p>
    <%= link_to "", supplier_searches_users_path, id:'next-page-btn',  class: 'd-none' %>
  </div>
</div>

