#plus-btn {
  text-decoration: none;
  border-radius: 10px;
  box-shadow: 0 0 4px rgba(0,0,0,0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 99.45px;
  height: 100px;
  margin-top: 41px;
  background-color: #f1ecd9;
  margin: 0 auto;
  margin-bottom: 25px;
  &:hover {
    box-shadow: 0 0 8px rgba(0,0,0,0.1);
  }
}

i.fas.fa-plus {
  font-size: 30px;
  opacity: 0.8;
  color: #6c757d;
  margin: 0 auto;
}

i.fas.fa-plus:hover {
  opacity: 1;
}

.rotate {
  transform: rotate(90deg);
  transition-duration: 0.3s;
}