.side-bar {
  padding: 15px;
  width: 220px;
  position: fixed;
  top: 66.01px;
  z-index: 1400;
  height: 100%;
  height: -webkit-calc(100% - 66.01px);
  height: calc(100% - 66.01px);
  color: rgba(163,175,183,.9);
  background: #263238;
  -webkit-box-shadow: 0 2px 4px rgba(0,0,0,.08);
  box-shadow: 0 2px 4px rgba(0,0,0,.08);
}

.side-bar-body {
  height: 100%;
  position: absolute;
  top: 50px; /* poussé de 1/3 de hauteur du référent */
  font-size: 14px;
  color : white;
}

.side-bar ul {
  list-style: none;
  padding: 10px;
}

.side-bar a {
  text-decoration: none;
  background-color: transparent;
  color: white;
  cursor: pointer;
}

.side-bar-item {
  line-height: 70px;
}

.inline {
  display:inline;
}
