.supplier-logo{
  object-fit: contain;
  height: 50px;
  border-radius: 5px
}

.card a {
  text-decoration: none;
}

.footnote {
  font-size: 0.7rem;
  text-align: center;
}

.burger-top-right {
  position: absolute;
  right: 1rem;
}
